@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
      <h2>StringToSign</h2>      @ViewBag.x
        <br/>
        <h2>Signature</h2>    @ViewBag.y
        <br />
        <h2>SignUrl</h2>    @ViewBag.z


      
     </div>
</body>
</html>
