@{
    Layout = "~/Views/Shared/_WechatLayout.cshtml";
}


        <ul class="row skylistbtn">

            <li class="col-xs-1-5 text-center sky-nav-li">
                <span><a class="btn btn-primary btn-circle btn-sm" href="#"><i class="glyphicon glyphicon-th-list"></i></a></span>
                <span>全部能力</span>
            </li>
            <li class="col-xs-1-5 text-center sky-nav-li">
                <span><a class="btn btn-success btn-circle btn-sm" href="#"><i class="glyphicon glyphicon-star"></i></a></span>
                <span>熟练完成</span>
            </li>
            <li class="col-xs-1-5 text-center sky-nav-li">
                <span><a class="btn btn-warning btn-circle btn-sm" href="#"><i class="glyphicon glyphicon-adjust"></i></a></span>
                <span>基本完成</span>
            </li>
            <li class="col-xs-1-5 text-center sky-nav-li">
                <span><a class="btn btn-danger btn-circle btn-sm" href="#"><i class="glyphicon glyphicon-star-empty"></i></a></span>
                <span>不能完成</span>
            </li>
            <li class="col-xs-1-5 text-center sky-nav-li">
                <span><a class="btn btn-info btn-circle btn-sm" href="#"><i class="glyphicon glyphicon-stats"></i></a></span>
                <span>数据统计</span>
            </li>

        </ul>

        <div style="background-color:#ffffff">
            <table class="table">
                <thead>
                    <tr>
                        <th>类别名称</th>
                        <th>项目名称</th>
                        <th>训练时间</th>
                        <th>训练结果</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>运动能力</td>
                        <td>踢皮球</td>
                        <td>2015-09-09</td>
                        <td>熟练完成</td>
                    </tr>
                    <tr>
                        <td>感觉能力</td>
                        <td>踢皮球</td>
                        <td>2015-09-09</td>
                        <td>熟练完成</td>
                    </tr>
                    <tr>
                        <td>认知能力</td>
                        <td>踢皮球</td>
                        <td>2015-09-09</td>
                        <td>熟练完成</td>
                    <tr>
                        <td>情感能力</td>
                        <td>踢皮球</td>
                        <td>2015-09-09</td>
                        <td>熟练完成</td>
                    <tr>
                        <td>自理能力</td>
                        <td>踢皮球</td>
                        <td>2015-09-09</td>
                        <td>熟练完成</td>
                    <tr>
                        <td>运动能力</td>
                        <td>踢皮球</td>
                        <td>2015-09-09</td>
                        <td>熟练完成</td>
                    </tr>


                </tbody>
            </table>
        </div>


