@{
    Layout = "~/Views/Shared/_WechatLayout.cshtml";
}


        <div class="row">
            <img class="img-circle" src="img/user1-128x128.jpg" alt="User Avatar">
        </div>

        <div class="row skyindexrow">
            <div class="pull-left text-orange skyindexrowtitle"><i class="glyphicon glyphicon-heart"></i> 心理服务</div>
            <div class="pull-right skyindexrowrighttitle">787人正在学习</div>
        </div>

        <div class="row skyindexrow">

            <img src="img/user1-128x128.jpg" alt="User Avatar" class="pull-left sky-index-itemimg">

            <div class="pull-left sky-index-itemcontent">
                <span class="sky-index-itemcontent-title">
                    焦虑 | 如何治疗焦虑
                </span>
                <p>讲师：贺苏</p>
                <p>已有78488人浏览</p>
            </div>

            <button class="pull-right btn btn-warning btn-sm">马上学习</button>

        </div>

        <div class="row skyindexrow">

            <img src="img/user1-128x128.jpg" alt="User Avatar" class="pull-left sky-index-itemimg">

            <div class="pull-left sky-index-itemcontent">
                <span class="sky-index-itemcontent-title">
                    焦虑 | 如何治疗焦虑
                </span>
                <p>讲师：贺苏</p>
                <p>已有78488人浏览</p>
            </div>

            <button class="pull-right btn btn-warning btn-sm">马上学习</button>

        </div>

        <div class="row skyindexrow">

            <img src="img/user1-128x128.jpg" alt="User Avatar" class="pull-left sky-index-itemimg">

            <div class="pull-left sky-index-itemcontent">
                <span class="sky-index-itemcontent-title">
                    焦虑 | 如何治疗焦虑
                </span>
                <p>讲师：贺苏</p>
                <p>已有78488人浏览</p>
            </div>

            <button class="pull-right btn btn-warning btn-sm">马上学习</button>

        </div>
