@{
    Layout = "~/Views/Shared/_WechatLayout.cshtml";
}

<div class="row">
    <!-- Widget: user widget style 1 -->
    <div class="box box-widget widget-user">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-aqua-active">

        </div>
        <div class="widget-user-image">
            <img class="img-circle" src="~/wechatResource/img/star.jpg" alt="User Avatar">
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-xs-12 center">
                    <div class="description-block">
                        <h5 class="description-header">尚未加入星童训练计划</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.widget-user -->
    <a class="btn btn-block btn-danger btn-lg" href="@Url.Action("StarBaby")">点击这里加入星童训练计划</a>
    <br /><br />
    <img style="width:100%" src="/wechatResource/img/mulu.png" alt="课程目录">
    <br /><br />
    <a class="btn btn-block btn-danger btn-lg" href="@Url.Action("StarBaby")">点击这里加入星童训练计划</a>
    <br /><br />

</div>
