@{
    Layout = "~/Views/Shared/_WechatLayout.cshtml";
}


       <div class="row" style="background-color: #ffffff; ">
    <div class="col-xs-12" style="height: 150px;">
        这里是一个播放器
    </div>
    <div class="row" style="background-color:#666666;margin: 0px 0px 0px 10px;">
        <div class="col-xs-6" style="background-color:#ffffff; border-top: solid #efefef 1px;">
            <div class="text-center">
                <h5 class="sky-x-2">踢皮球</h5>
                <span class="description-text">已有458个星宝训练过此项目</span>
                <!--<span class="description-text">34万星宝正在使用</span>-->
                <span></span>
            </div>

            <!-- /.description-block -->
        </div>
        <!-- /.col -->
        <div class="col-xs-6" style="background-color:#ffffff;border-left: solid #efefef 1px;border-top: solid #efefef 1px;">
            <div class="text-center">
                <h5 class="text-warning">家长心理服务</h5>
                <span class="description-text">你已经评估过78次</span>
                <!--<span class="description-text">34万家庭正在使用</span>-->

            </div>

            <!-- /.description-block -->
        </div>

        <!-- /.col -->
    </div>

</div>

       
          <div class="pingjiabtn col-xs-12 btn-group">

    <a class="col-xs-4 btn btn-success">
        熟练完成

    </a>
    <a class="col-xs-4 btn btn-warning">
        基本完成

    </a>
    <a class="col-xs-4 btn btn-danger">
        不能完成

    </a>

</div>



<table class="table" style="background-color:#ffffff">
    <tbody>


        <tr>
            <th colspan="4">结果分析</th>
        </tr>
        <tr>
            <td colspan="4">               
                <br /> 您也可以拨打0451-2565265进行咨询
                <br /> 您也可以拨打0451-2565265进行咨询
                <br /> 您也可以拨打0451-2565265进行咨询
                <br /> 您也可以拨打0451-2565265进行咨询<br /> 您也可以拨打0451-2565265进行咨询
                <br /> 您也可以拨打0451-2565265进行咨询<br /> 您也可以拨打0451-2565265进行咨询
                <br /> 您也可以拨打0451-2565265进行咨询
            </td>
        </tr>

        <tr>
            <th colspan="4">结果分析</th>
        </tr>
        <tr>
            <td colspan="4">
                <br /> 您也可以拨打0451-2565265进行咨询
            </td>
        </tr>

        <tr>
            <th colspan="4">结果分析</th>
        </tr>
        <tr>
            <td colspan="4">
                <br /> 您也可以拨打0451-2565265进行咨询
            </td>
        </tr>

    </tbody>

</table>







