@model AdsEntity.AdsBaby
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>星童家庭训练</title>

    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="~/WechatResource/css/bootstrap.css">

    <link rel="stylesheet" href="~/WechatResource/css/AdminLTE.css">


    <link rel="stylesheet" href="~/WechatResource/css/skym.css">
    <link href="~/plugins/bootstrap-validator/css/bootstrapValidator.css" rel="stylesheet" type="text/css" />


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body style="margin:25px;">



  @using (Html.BeginForm("BabyCreate", "Wechat", FormMethod.Post, new { @class = "form-horizontal", @name = "BabyForm", @id = "BabyForm" }))
                {       <!-- text input -->
        <div class="form-group">
            
           @Html.AntiForgeryToken()
           @Html.HiddenFor(model => model.CustomerId, new { @Value = ViewBag.cusid })
        </div>
        
        <div class="form-group">

           星童姓名：
            <input type="text" name="BabyName" id="BabyName" class="form-control input-lg" placeholder="星童姓名">
           
        </div>
        <div class="form-group">
         性别： <select class="form-control input-lg" name="BabySex" id="BabySex">
                <option value="男">男</option>
                <option value="女">女</option>
            </select>
        </div>
        <div class="form-group">



           出生日期： <input type="date" name="BabyBirthday" id="BabyBirthday" class="form-control input-lg" placeholder="出生日期">
        </div>
       <div class="form-group">

           推荐人编码：
           <input type="text" name="SalerCode" id="SalerCode" class="form-control input-lg" placeholder="推荐人编码">
           
        </div>

        <div class="skyapprow">

            <div class="form-group">
                <button type="submit" class="btn btn-block btn-success btn-lg">保存</button>
            </div>

        </div>
  }
    <script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="~/plugins/bootstrap-validator/js/bootstrapValidator.js"></script>

    <script type="text/javascript">



        //表单验证
        $('#BabyForm').bootstrapValidator({
            //        live: 'disabled',
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {

                BabyName: {
                    validators: {
                        notEmpty: {
                            message: '星童姓名'
                        }

                    }
                },
                BabySex: {
                    validators: {
                        notEmpty: {
                            message: '性别不能为空'
                        }

                    }
                },
                BabyBirthday: {
                    validators: {
                        notEmpty: {
                            message: '出生日期不能为空'
                        }

                    }
                },
                SalerCode: {
                    validators: {
                        notEmpty: {
                            message: '推荐人编码不能为空'
                        }

                    }
                },

            }
        });

    </script>





</body>
</html>