@{
    Layout = "~/Views/Shared/_WapLayout.cshtml";
}

<div class="row">
    <!-- Widget: user widget style 1 -->
    <div class="box box-widget widget-user">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-aqua-active">
            <h4 class="widget-user-desc pull-right"><span class="glyphicon glyphicon-camera"></span> 扫一扫</h4>
        </div>
        <div class="widget-user-image">
            <img class="img-circle" src="~/WapResource/img/user1-128x128.jpg" alt="User Avatar">
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-xs-12 center">
                    <div class="description-block">
                        <h5 class="description-header">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;星星宝贝</h5>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4 border-right">
                    <div class="description-block">
                        <h5 class="description-header">3,200天</h5>
                        <span class="description-text">训练天数</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-xs-4 border-right">
                    <div class="description-block">
                        <h5 class="description-header">8小时45分钟</h5>
                        <span class="description-text">家长学习时间</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <div class="description-block">
                        <h5 class="description-header">35次</h5>
                        <span class="description-text">评估次数</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <div class="row" style="margin: 0px 0px 0px 10px;">
                <div class="col-xs-6" style="background-color:#ffffff; border-top: solid #efefef 1px;">
                    <div class="pull-left">
                        <h5 class="text-info">星宝训练项目</h5>
                        <span class="description-text">坚持练习，终有希望</span>
                        <!--<span class="description-text">34万星宝正在使用</span>-->
                        <span></span>
                    </div>
                    <div class="pull-right" style="font-size: 30px; line-height: 55px;">
                        <span class="glyphicon glyphicon-screenshot text-info"></span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-xs-6" style="background-color:#ffffff;border-left: solid #efefef 1px;border-top: solid #efefef 1px;">
                    <div class="pull-left">
                        <h5 class="text-warning">家长心理服务</h5>
                        <span class="description-text">提升自己，为爱努力</span>
                        <!--<span class="description-text">34万家庭正在使用</span>-->

                    </div>
                    <div class="pull-right" style="font-size: 30px; line-height: 55px;">
                        <span class="glyphicon glyphicon-heart text-warning"></span>
                    </div>
                    <!-- /.description-block -->
                </div>

                <!-- /.col -->
            </div>
        </div>
    </div>
    <!-- /.widget-user -->
</div>


<div class="row" style=" background-color:#ffffff;border: solid #efefef 1px;">

    <ul class="container nav navbar-nav">

        <li class="col-xs-1-5 text-center sky-nav-li">
            <span class="glyphicon glyphicon-list-alt text-info sky-nav-lispan"></span>
            <span><a href="">测评报告</a></span>
        </li>
        <li class="col-xs-1-5 text-center sky-nav-li">
            <span class="glyphicon glyphicon-calendar text-orange sky-nav-lispan"></span>
            <span class="text-orange">训练日历</span>
        </li>
        <li class="col-xs-1-5 text-center sky-nav-li">
            <span class="glyphicon glyphicon-king text-info sky-nav-lispan"></span>
            <span><a href="">我的勋章</a></span>
        </li>
        <li class="col-xs-1-5 text-center sky-nav-li">
            <span class="glyphicon glyphicon-heart text-info sky-nav-lispan"></span>
            <span><a href="">心理服务</a></span>
        </li>
        <li class="col-xs-1-5 text-center sky-nav-li">
            <span class="glyphicon glyphicon-cog text-info sky-nav-lispan"></span>
            <span><a href="">消息设置</a></span>
        </li>

    </ul>
 
</div>

<div class="row">
    <div class="pull-left" style="font-size:14px;padding:5px 0px 5px 20px; line-height: 30px;">今日任务</div>
    <div class="pull-right" style="padding:5px 10px 5px 0px;"><button class="btn btn-default btn-sm">训练说明</button></div>
</div>



<div class="row" style="padding: 5px 0px 5px 0px;background-color: #ffffff;">

    <div class="col-xs-1" style="font-size:40px; line-height: 40px;">
        1
    </div>
    <div class="col-xs-2">
        <img src="~/WapResource/img/user1-128x128.jpg" alt="User Avatar" height="50" width="50">

    </div>
    <div class="col-xs-6">
        <span style="display: block; font-weight: 600;">
            运动 | 踢皮球
        </span>
        <span style="display: block;">
            全球共有48989人正在进行此项目训练
        </span>
        <span>
            有超过8989名星宝正在训练
        </span>
    </div>
    <div class="col-xs-3" style="font-size:40px; line-height: 40px; ">
        <button class="btn btn-warning btn-sm">开始训练</button>
    </div>

</div>

<div class="row" style="padding: 5px 0px 5px 0px;background-color: #ffffff; border-bottom: solid #efefef 1px;">
    <div class="pull-left" style="padding: 0px 10px 0px 20px;">
        <img src="~/WapResource/img/user1-128x128.jpg" alt="User Avatar" height="55px" width=55px">
    </div>
    <div class="pull-left">
        <span style="display: block; font-weight: 600; font-size: 14px;">
            运动 | 踢皮球
        </span>
        <span style="display: block;">
            全球共有48989人正在进项目训练
        </span>
        <span>
            有超过8989名星宝正在训练
        </span>
    </div>
    <div class="pull-right" style="font-size:40px; line-height: 40px; margin-right: 10px; ">
        <button class="btn btn-warning btn-sm">开始训练</button>
    </div>
</div>


<div class="row">
    <div class="text-center sky-layout-bottom">
        <span class="glyphicon glyphicon-pencil"></span> 意见反馈
    </div>
</div>

