@{
    Layout = "~/Views/Shared/_WapLayout.cshtml";
}

<div class="row sky-item-row-first">
    <div class="col-xs-1">
        <span class="glyphicon glyphicon-list-alt sky-item-icon sky-skin-gree"></span>
    </div>
    <div class="col-xs-5 sky-item-text sky-skin-gree">
        启动特权
    </div>
    <div class="col-xs-6 sky-item-right-text">
        尊享更多训练项目  <span class="glyphicon glyphicon-chevron-right sky-item-right-icon"></span>
    </div>
</div>

<div class="row sky-item-row-first">
    <div class="col-xs-1">
        <span class="glyphicon glyphicon-list-alt sky-item-icon sky-skin-gree"></span>
    </div>
    <div class="col-xs-5 sky-item-text sky-skin-gree">
        启动特权
    </div>
    <div class="col-xs-6 sky-item-right-text">
        尊享更多训练项目  <span class="glyphicon glyphicon-chevron-right sky-item-right-icon"></span>
    </div>
</div>

<div class="row sky-item-row">
    <div class="col-xs-1">
        <span class="glyphicon glyphicon-list-alt sky-item-icon sky-skin-gree"></span>
    </div>
    <div class="col-xs-5 sky-item-text sky-skin-gree">
        启动特权
    </div>
    <div class="col-xs-6 sky-item-right-text">
        尊享更多训练项目  <span class="glyphicon glyphicon-chevron-right sky-item-right-icon"></span>
    </div>
</div>

<div class="row sky-item-row">
    <div class="col-xs-1">
        <span class="glyphicon glyphicon-list-alt sky-item-icon sky-skin-gree"></span>
    </div>
    <div class="col-xs-5 sky-item-text sky-skin-gree">
        启动特权
    </div>
    <div class="col-xs-6 sky-item-right-text">
        尊享更多训练项目  <span class="glyphicon glyphicon-chevron-right sky-item-right-icon"></span>
    </div>
</div>

<div class="row sky-item-row">
    <div class="col-xs-1">
        <span class="glyphicon glyphicon-list-alt sky-item-icon sky-skin-gree"></span>
    </div>
    <div class="col-xs-5 sky-item-text sky-skin-gree">
        启动特权
    </div>
    <div class="col-xs-6 sky-item-right-text">
        尊享更多训练项目  <i class="fa-angle-right"></i>
    </div>
</div>

<div class="row sky-item-row-first">
    <div class="col-xs-1">
        <span class="glyphicon glyphicon-list-alt sky-item-icon sky-skin-gree"></span>
    </div>
    <div class="col-xs-5 sky-item-text sky-skin-gree">
        启动特权
    </div>
    <div class="col-xs-6 sky-item-right-text">
        <i class="fa fa-angle-right"></i>
    </div>
</div>

<div class="row sky-item-row" id="itemadd">
    <div class="col-xs-1">
        <span class="glyphicon glyphicon-list-alt sky-item-icon sky-skin-gree"></span>
    </div>
    <div class="col-xs-5 sky-item-text sky-skin-gree">
        启动特权
    </div>
    <div class="col-xs-6 sky-item-right-icon">

        <i class="fa fa-angle-right"></i>
    </div>
</div>


