@{
    ViewBag.Title = "桌面";
}
@section Topcss {
    <link href="~/plugins/scale/css/test.css" rel="stylesheet" type="text/css" />
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @ViewBag.Title
        <small>@ViewBag.smallTitle</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li>@ViewBag.Title</li>
        <li class="active">@ViewBag.SmallTitle</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Info boxes -->
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="ion ion-person"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">客户数量</span>
                    <span class="info-box-number sky-font25">14134</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="icon ion-man"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">男性</span>
                    <span class="info-box-number sky-font25">1234</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="icon ion-woman"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">女性</span>
                    <span class="info-box-number sky-font25">1234</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="icon ion-person-stalker"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">视频</span>
                    <span class="info-box-number sky-font25">2,000</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>


    <div class="row">
        <div class="col-md-12">
      <div id="adsabc"></div>
    <p class="tbtns">
        <a id="id_pre_link" style="display: none" href="javascript:void(0)" class="test_btn btn btn-success" onclick="return do_prev()">上一题</a>
        &nbsp;&nbsp;
        <input id="id_show_result" style="display: none" type="submit" class="btns btn btn-primary" value="提 交" />
    </p>
</div>
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

@section FootScripts {
    <script type="text/javascript" src="~/plugins/scale/ADSABC.js"></script>
    <script>
        
        var index = 0;
        var questions;
        $(function () {
            questions = $('.test_contents');
            setTestSels('.sels_list .items', do_next);
            $(questions[index]).show();

        });
        function setTestSels(ele, clickfun) {
            var items = $(ele);
            items.hover(function () {
                $(this).addClass('hover');
            }, function () {
                $(this).removeClass('hover');
            }).click(function () {
                items.removeClass('act');
                var radio = $(this).find(':radio');
                if (radio.length > 0) {
                    $(this).addClass('act');
                    radio.attr('checked', 'checked');
                    if (clickfun) {
                        clickfun(this);
                    }
                }
            });
        }
        function do_prev() {
            $('#id_show_result').hide();
            $(questions[index--]).hide();
            $(questions[index]).show();
            $('#id_cur_index').html(index + 1);
            if (index == 0) {
                $('#id_pre_link').hide();
            }

        }
        function do_next() {
            $('#id_pre_link').show();
            if (index < 5 - 1) {
                $(questions[index++]).hide();
                $(questions[index]).show();
                $('#id_cur_index').html(index + 1);
            } else {
                $('#id_show_result').show();
            }
        }
    </script>
}